<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthHandler</servlet-name>
        <servlet-class>com.mycompany.somejsp.AuthHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutHandler</servlet-name>
        <servlet-class>com.mycompany.somejsp.LogOutHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInHandler</servlet-name>
        <servlet-class>com.mycompany.somejsp.LogInHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHandler</servlet-name>
        <servlet-class>com.mycompany.somejsp.ViewHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataHandler</servlet-name>
        <servlet-class>com.mycompany.somejsp.DataHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessHandler</servlet-name>
        <servlet-class>com.mycompany.somejsp.ProcessHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthHandler</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutHandler</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/src/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInHandler</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHandler</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataHandler</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
